.about-us {
  min-height: 336px;
  background: $blue-to-right;
  box-shadow: inset 0 1px 0 0 $color-light-slate-grey;

  @include vp-1199 {
    background: none;
  }
}

.about-us__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 1165px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
}

.about-us__inner {
  color: $color-default-white;

  @include vp-1199 {
    width: 100%;
    background-color: $color-sapphire-blue;
  }
}

.about-us__wrapper {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 580px;

  @include vp-1199 {
    margin: 0 auto;
    padding-bottom: 68px;
  }

  @include vp-767 {
    width: 100%;
    padding-bottom: 69px;
  }
}

.about-us__wrapper h3 {
  padding-top: 61px;
  text-align: left;
  line-height: 130%;
  color: $color-default-white;

  @include vp-1199 {
    padding-top: 62px;
    padding-left: 39px;
  }

  @include vp-767 {
    padding-top: 64px;
    padding-left: 15px;
  }
}
