.advantages {
  padding-top: 118px;
  padding-bottom: 116px;
  background-color: $color-ghost-white;

  @include vp-1199 {
    padding-top: 99px;
    padding-bottom: 96px;
  }

  @include vp-767 {
    padding-top: 69px;
    padding-bottom: 64px;
  }
}

.advantages__wrap {
  max-width: 1160px;
  margin: 0 auto;

  @include vp-1279 {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include vp-1199 {
    padding-left: 32px;
    padding-right: 45px;
  }

  @include vp-767 {
    padding-left: 0;
    padding-right: 0;
  }
}

.advantages h3 {
  margin-bottom: 59px;
  text-align: center;

  @include vp-1199 {
    margin-left: 13px;
    margin-bottom: 44px;
  }

  @include vp-767 {
    margin-left: 0;
  }
}

.advantages__box ul {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  column-gap: 60px;
  row-gap: 149px;
  padding: 0;
  padding-left: 73px;
  padding-right: 73px;
  margin: 0;
  list-style: none;

  @include vp-1199 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    column-gap: 45px;
    row-gap: 37px;
    padding: 0;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    row-gap: 36px;
  }
}

.advantages__box ul::before,
.advantages__box ul::after {
  position: absolute;
  content: "";
  width: 340px;
  height: 2px;
  background-color: $color-crimson-red--20;

  @include vp-1199 {
    display: none;
  }
}

.advantages__box ul::before {
  left: 54px;
  top: 164px;
}

.advantages__box ul::after {
  right: 61px;
  top: 164px;
}

.advantages__item {
  display: flex;
  column-gap: 29px;

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.advantages__item:first-child {
  padding-left: 13px;

  /* @include vp-1199 {
    padding-left: 0;
  } */
}

.advantages__item span {
  font-weight: 700;
  font-size: 4.44rem;
  line-height: 100%;
  background: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87%);
  background-clip: text;
  color: transparent;

  @include vp-1199 {
    font-size: 3.63rem;
  }
}

.advantages__item p {
  margin: 0;
  font-size: 0.88rem;
  line-height: 110%;
  color: $color-persian-blue;

  @include vp-767 {
    padding: 0 1px;
    text-align: center;
  }
}

.advantages__inner h4 {
  margin: 0;
  margin-top: 4px;
  font-weight: 700;
  font-size: 1.38rem;
  line-height: 150%;

  @include vp-1199 {
    margin-top: 0;
    font-size: 1.25rem;
  }

  @include vp-767 {
    text-align: center;
  }
}

.advantages__inner p {
  margin-top: 4px;
  font-weight: 300;
  font-size: 1rem;
  line-height: 140%;
  color: $color-sapphire-blue;

  @include vp-1199 {
    margin-top: 0;
  }

  @include vp-767 {
    padding-left: 22px;
    padding-right: 22px;
    line-height: 142%;
  }
}

.advantages__item--simulators {
  flex-direction: column;
  grid-column: 2/3;
  grid-row: 1/3;
  width: 240px;
  padding: 53px 20px 20px 16px;
  margin: 11px 12px 4px 10px;
  text-align: center;
  color: $color-default-white;
  background-color: $color-resolution-blue;

  @include vp-1199 {
    grid-column: 1/-1;
    grid-row: 2/3;
    width: 440px;
    margin: 8px 0 4px 13px;
    padding-top: 32px;
    padding-bottom: 2px;
  }

  @include vp-767 {
    grid-row: auto;
    row-gap: 3px;
    width: 100%;
    margin-top: 7px;
    margin-left: 0;
    margin-bottom: 4px;
    padding-bottom: 43px;
    padding-right: 20px;
    padding-top: 37px;
  }
}

.advantages__item--simulators span {
  font-size: 4.63rem;
  color: $color-default-white;

  @include vp-1199 {
    font-size: 4.63rem;
    margin-bottom: 0;
  }
}

.advantages__item--simulators h4 {
  margin: 0;
  margin-top: 13px;
  margin-left: 5px;
  font-size: 1.63rem;

  @include vp-1199 {
    margin-top: 7px;
    margin-bottom: 20px;
    font-size: 1.38rem;
  }

  @include vp-767 {
    margin-top: 0;
    margin-bottom: 12px;
  }
}

.advantages__item--simulators p {
  margin-top: 41px;
  margin-left: 5px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: $color-default-white;

  @include vp-1199 {
    margin-top: 0;
    padding: 0 90px 36px;
  }
}
