.coachs {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 120px;
  padding-top: 16px;

  @include vp-1329 {
    max-width: 1100px;
  }

  @include vp-1279 {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include vp-1199 {
    max-width: 656px;
    padding-top: 0;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 100px;
  }

  @include vp-767 {
    max-width: 227px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 70px;
  }
}

.coachs h3 {
  text-align: left;

  @include vp-1199 {
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 5px;
  }
}

.coachs__swiper {
  position: relative;
}

.coachs__wrap {
  margin-top: 53px;

  @include vp-1199 {
    margin-top: 40px;
  }
}

.coachs__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  height: 294px;
  margin-right: 40px;

  @include vp-1199 {
    margin-right: 30px;
  }


  @include vp-767 {
    height: 274px;
  }
}

.coachs__card::before {
  position: absolute;
  content: "";
  top: -1px;
  left: -2px;
  right: 2px;
  bottom: 1px;
  background-color: $color-sapphire-blue--89;
}

.coachs__card h4 {
  position: absolute;
  z-index: 2;
  bottom: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 1.13rem;
  line-height: 150%;
  color: $color-default-white;
}

.coachs__card span {
  z-index: 1;
  margin-top: 75px;
  line-height: 150%;
  color: $color-spindle-grey;

  @include vp-767 {
    margin-top: 66px;
  }
}

.coachs__card ul {
  z-index: 1;
  overflow-y: auto;
  margin-top: 33px;
  padding: 0 20px 0 69px;

  @include vp-767 {
    margin-top: 31px;
    padding: 0 20px 0 50px;
  }
}

.coachs__card li {
  margin-bottom: 13px;
  font-size: 0.88rem;
  line-height: 150%;
  color: $color-default-white;
}

.coachs__card img {
  position: absolute;
  z-index: 1;
  top: -1px;
  left: -2px;
  right: 2px;
  bottom: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.coachs__card:hover img {
  z-index: -1;
}

.coachs__card:focus img {
  z-index: -1;
}


.coachs__card:hover h4,
.coachs__card:focus h4 {
  bottom: auto;
  top: 27px;
  left: 55px;

  @include vp-767 {
    top: 17px;
    left: 40px;
  }
}

.coachs__buttons {
  position: absolute;
  left: -69px;
  top: 243px;
  display: flex;
  justify-content: space-between;
  width: 111%;

  @include vp-1329 {
    left: -51px;
    width: 109%;
  }

  @include vp-1279 {
    left: -35px;
    width: 106%;
  }

  @include vp-1199 {
    left: -21px;
    top: 206px;
  }

  @include vp-767 {
    left: -45px;
    top: 194px;
    width: 140%;
  }
}
