.cross-fit {
  display: grid;
  grid-template-columns: 1fr 660px;
  min-height: 500px;
  margin-bottom: 100px;

  @include vp-1199 {
    grid-template-columns: 1fr 386px;
    min-height: 292px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    margin-bottom: 68px;
  }
}

.cross-fit img {
  background-color: $color-sapphire-blue--89;

  @include vp-1199 {
    width: 386px;
    height: 292px;
  }

  @include vp-767 {
    min-width: 100%;
    object-fit: cover;
  }
}

.cross-fit__inner {
  padding: 81px 81px 58px 77px;
  color: $color-default-white;
  background-color: $color-torch-red;

  @include vp-1199 {
    padding: 48px 45px;
    padding-right: 46px;
    padding-top: 44px;
  }

  @include vp-767 {
    padding-bottom: 50px;
  }
}

.cross-fit__inner p {
  margin: 0;
  font-size: 1.13rem;

  @include vp-1199 {

    font-size: 0.75rem;
  }
}

.cross-fit__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  @include vp-1199 {
    margin-bottom: 0;
  }
}

.cross-fit__wrap h2 {
  margin: 0;
  margin-top: 3px;
  font-family: $ff-bebas-neue;
  font-size: 5.63rem;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @include vp-1199 {
    font-size: 3.25rem;
    margin-top: 4px;
  }
}

.cross-fit__wrap ul {
  padding: 0;
  margin: 0;
  list-style: none;

  @include vp-1199 {
    margin-top: 2px;
  }

  @include vp-767 {
    margin-top: 1px;
  }
}

.cross-fit__wrap li {
  margin-bottom: 6px;

  @include vp-1199 {
    margin-bottom: 0;
  }
}

.cross-fit__box {
  display: flex;
  align-items: center;
  column-gap: 7px;

  @include vp-1199 {
    column-gap: 4px;
  }
}

.cross-fit__wrap span {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 150%;

  @include vp-1199 {
    font-size: 1.5rem;
  }
}

.cross-fit__wrap p {
  margin: 0;
  font-weight: 400;
  font-size: 1.13rem;
  line-height: 150%;

  @include vp-1199 {
    font-size: 0.75rem;
  }
}

.cross-fit__box p {
  font-size: 0.88rem;
  line-height: 150%;

  @include vp-1199 {
    font-size: 0.63rem;
  }
}

.cross-fit__inner a {
  margin-top: 49px;
  max-width: 343px;
  padding: 25px 40px;
  border: 4px solid $color-default-white;

  @include vp-1199 {
    margin-top: 28px;
    padding: 13px 17px;
    font-size: 0.63rem;
    border: 2px solid $color-default-white;
  }

  @include vp-767 {
    margin-top: 30px;
    padding: 13px 17px 12px;
    width: 100%;
  }
}
