.description {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.description p {
  margin: 0;
  font-family: $ff-bebas-neue;
  font-size: 3.1rem;
  line-height: 119%;
  letter-spacing: 0.03em;
  text-align: right;

  @include vp-1199 {
    font-size: 2.13rem;
    line-height: 121%;
  }

  @include vp-767 {
    font-size: 1.75rem;
  }
}

.description__box {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.description h2 {
  margin: 0;
  margin-top: 6px;
  font-family: $ff-bebas-neue;
  font-size: 6.82rem;
  line-height: 100%;
  text-align: right;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-top: 1px;
    font-size: 5.38rem;
  }

  @include vp-767 {
    margin-top: 8px;
    font-size: 4.88rem;
  }
}

.description ul {
  padding: 0;
  font-size: 0.88rem;
  line-height: 150%;
  list-style: none;
  text-align: right;
  margin-right: -32px;
  margin-bottom: 26px;

  @include vp-1199 {
    margin-right: -22px;
    margin-bottom: 16px;
  }

  @include vp-767 {
    margin-right: -36px;
    margin-bottom: 12px;
  }
}

.description a {
  margin-top: 58px;
  margin-bottom: 44px;
  padding: 21px 55px 17px;
  border: 4px solid $color-default-white;

  &:hover {
    color: $color-spindle-grey;
    border: 4px solid $color-spindle-grey;
  }

  @include vp-1199 {
    margin-top: 42px;
    margin-bottom: 22px;
    padding: 21px 32px 17px;
  }

  @include vp-767 {
    margin-top: 43px;
    margin-bottom: 0;
    width: 100%;
    padding: 22px 20px 19px;
  }
}
