.footer {
  background-color: $color-russian-black;
}

.footer__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 25px;
  padding-bottom: 20px;

  @include vp-1199 {
    padding-bottom: 24px;
  }

  @include vp-767 {
    flex-direction: column;
    padding-bottom: 35px;
  }
}

.footer__wrap a {
  padding-top: 20px;
  padding-bottom: 20px;
  color: $color-default-white;
}

.footer__wrap svg {
  @include vp-1199 {
    width: 82px;
    height: 18px;
  }

  @include vp-767 {
    width: 68px;
    height: 15px;
  }
}

.footer__wrap ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 20px;

  @include vp-767 {
    flex-direction: column;
  }
}

.footer__wrap .footer__link {
  @include vp-1199 {
    padding-top: 23px;
  }

  @include vp-767 {
    position: absolute;
    padding: 20px 0 0;
    top: 31px;
  }
}
