.footer-nav ul {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 500px;
  row-gap: 10px;
}

.footer-nav a {
  padding: 5px 10px;
  font-size: 0.88rem;
  line-height: 115%;
}
