.footer-nav ul {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  row-gap: 10px;

  @include vp-1199 {
    column-gap: 10px;
    padding-top: 21px;
    margin-left: 16px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: -5px;
    padding-top: 8px;
    gap: 6px 26px;
  }
}


.footer-nav a {
  padding: 5px 10px;
  font-size: 0.88rem;
  line-height: 115%;

  @include vp-767 {
    padding: 5px;
    font-size: 1rem;
    line-height: 119%;
  }
}

@include vp-767 {
  .footer-nav {
    width: 100%;
  }

  .footer-nav li:first-child {
    grid-row: span 2;
    margin-top: 56px;
  }

  .footer-nav li {
    margin-top: 15px;
  }

  .footer-nav__item--ticket {
    grid-row-start: 3;
  }
}
