.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 410px;
  margin-top: 32px;

  @include vp-1199 {
    width: 100%;
    gap: 30px 60px;
    padding-left: 38px;
    padding-right: 69px;
    margin-top: 27px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 34px;
    margin-top: 32px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.form input {
  padding: 5px 5px 5px 0;
  width: 100%;
  border: none;
  font-size: 0.88rem;
  line-height: 114%;
  font-weight: 400;
  color: $color-default-white;
  background: $color-transparent;
  border-bottom: 1px solid $color-light-slate-grey;

  &:hover {
    opacity: 0.8;
  }
}

.form input::placeholder {
  color: $color-default-white;
}

.form button {
  grid-column: span 2;
  padding: 16px 10px;
  font-size: 0.88rem;
  line-height: 114%;
  background: $color-transparent;
  border: 3px solid $color-default-white;

  &:hover {
    opacity: 0.7;
  }

  @include vp-767 {
    grid-column: auto;
    margin-top: 4px;
  }
}
