.gym {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
  padding-bottom: 235px;

  @include vp-1279 {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include vp-1199 {
    flex-direction: column;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 183px;
  }

  @include vp-767 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 70px;
  }
}

.gym__video .link {
  width: 100%;
  height: 401px;
  object-fit: cover;
  background-color: $color-spindle-grey;

  @include vp-1199 {
    width: 100%;
    height: 345px;
    margin-top: 36px;
  }

  @include vp-767 {
    height: 313px;
    margin-top: 25px;
  }
}

.gym__wrap {
  max-width: 360px;
  margin-left: 58px;

  @include vp-1199 {
    min-width: 100%;
    margin-left: 0;
  }
}

.gym__wrap h3 {
  margin: 0;
  margin-top: 47px;
  font-family: $ff-bebas-neue;
  font-size: 3.07rem;
  line-height: 100%;
  letter-spacing: 0.03em;

  @include vp-1199 {
    font-size: 2.63rem;
    text-align: center;
  }

  @include vp-767 {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 2rem;
    text-align: left;
  }
}

.gym__wrap h4 {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 38px;
  font-weight: 400;
  font-size: 1.13rem;
  line-height: 150%;

  @include vp-1199 {
    margin-bottom: 34px;
    text-align: center;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    margin-bottom: 23px;
  }
}

.gym__wrap p {
  margin: 0;
  padding-bottom: 8px;
  font-weight: 300;
  line-height: 150%;

  @include vp-1199 {
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 44px;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 45px;
    padding-bottom: 33px;
    text-align: left;
  }
}

.gym__inner img {
  display: block;
  width: 660px;
  object-fit: cover;
  background-color: $color-dark-grey;

  @include vp-1199 {
    width: 100%;
    height: 345px;
  }

  @include vp-767 {
    height: 313px;
  }
}

.gym__video {
  position: absolute;
  left: 53%;
  bottom: 120px;
  width: 364px;
  height: 228px;
  transform: translateX(-49%);
  background-color: $color-ghost-white;

  @include vp-1199 {
    width: 266px;
    height: 167px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include vp-767 {
    position: relative;
    height: 167px;
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    bottom: auto;
    transform: translateX(0);
    width: 100%;
  }
}

.gym__video iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

.gym__box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.gym__box::before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-cerulean-blue--50;
}

.gym__box img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  background-color: $color-dark-grey;

  @include vp-767 {
    width: 100%;
    height: 167px;
  }
}

@include vp-1199 {
  .gym__text-hidden {
    display: none;
  }
}

.gym__box button {
  position: absolute;
  z-index: 2;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: url("../img/svg/icon-play.svg"),
    $red-to-blue-conic;
  border-radius: 50%;
  background-size: contain, 46% 56%;
  background-position: 100% 100%, 26px 22px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  @include vp-1199 {
    top: 46px;
    width: 73px;
    height: 73px;
    transform: translateX(-52%);
    background-position: 100% 100%, 19px 15px;
  }

  @include vp-767 {
    transform: translateX(-49%);
    background-size: contain, 43% 56%;
    background-position: 100% 100%, 21px 15px;
  }
}

.gym__box button::after {
  position: absolute;
  content: "";
  left: 46px;
  bottom: 42px;
  border: 8px solid $color-transparent;
  border-left: 12px solid $color-default-white;

  @include vp-1199 {
    left: 34px;
    bottom: 32px;
    border: 5px solid $color-transparent;
    border-left: 10px solid $color-default-white;
  }

  @include vp-767 {
    left: 36px;
  }
}

.gym__video .is-active,
.gym__video .no-js {
  display: none;
}
