.nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 30px;

  @include vp-1199 {
    padding-top: 38px;
  }

  @include vp-767 {
    padding-top: 20px;
  }
}

.nav svg {
  display: block;
  width: 100%;
  height: 100%;
}

.nav a {
  margin-right: 2px;
  font-weight: 700;
  font-family: $ff-bebas-neue;
  font-size: 1.63rem;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: $color-default-white;

  @include vp-1199 {
    margin-right: 0;
    font-size: 1.5rem;
    letter-spacing: 0.02em;
  }

  @include vp-767 {
    font-size: 1.25rem;
  }
}

.nav__link {
  width: 84px;
  height: 23px;

  @include vp-1199 {
    width: 79px;
    height: 22px;
  }

  @include vp-767 {
    width: 68px;
    height: 15px;
  }
}
