.reviews {
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 120px;

  @include vp-1199 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 70px;
  }
}

.reviews__wrap {
  position: relative;
  max-width: 694px;
  padding-left: 65px;
  padding-right: 69px;

  @include vp-1199 {
    max-width: 682px;
    padding-left: 58px;
    padding-right: 58px;
  }

  @include vp-767 {
    width: 100vw;
    padding-left: 47px;
    padding-right: 47px;
  }
}

.reviews__wrap li {
  padding: 54px 58px 56px 61px;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 29px;
  margin-right: 69px;
  color: $color-default-white;
  background-color: $color-resolution-blue;

  @include vp-1199 {
    padding: 54px 65px 57px;
    column-gap: 28px;
    margin-right: 58px;
  }

  @include vp-767 {
    position: relative;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 40px 25px;
    padding-bottom: 33px;
    margin-right: 47px;
  }
}

.reviews__wrap ul {
  list-style: none;
  padding: 0;
  margin-top: 52px;
  margin-bottom: 0;
  box-shadow: 0 0 40px $color-resolution-blue--20;

  @include vp-1199 {
    margin-top: 39px;
  }

  @include vp-767 {
    margin-top: 42px;
  }
}

.reviews__wrap img {
  margin-top: 8px;
  border-radius: 50%;
  background-color: $color-chambray-blue;

  @include vp-767 {
    position: absolute;
    margin-top: 0;
    width: 68px;
    height: 68px;
    left: 41px;
  }
}

.reviews__inner h4 {
  margin: 0;
  font-size: 1.25rem;
  line-height: 150%;

  @include vp-767 {
    min-height: 60px;
    margin-bottom: 22px;
    padding-left: 99px;
    padding-top: 9px;
    line-height: 130%;
  }
}

.reviews__inner p {
  margin: 0;
  margin-top: 12px;
  line-height: 140%;

  @include vp-1199 {
    margin-top: 13px;
  }

  @include vp-767 {
    text-align: center;
  }
}

.reviews__inner p::before {
  content: "\00AB";
  font-family: "Arial", "Helvetica", sans-serif;
}

.reviews__inner p::after {
  content: "\00BB";
  font-family: "Arial", "Helvetica", sans-serif;
}

@include vp-767 {
  .reviews__inner br {
    display: none;
  }
}

.reviews__buttons {
  position: absolute;
  top: 151px;
  left: -1px;
  display: flex;
  width: 99%;
  justify-content: space-between;

  @include vp-1199 {
    top: 137px;
    left: -7px;
    width: 101%;
  }

  @include vp-767 {
    top: 192px;
    left: 3px;
    width: 99%;
  }
}
