.season-ticket {
  margin-top: 117px;
  margin-bottom: 118px;

  @include vp-1199 {
    margin-top: 99px;
    margin-bottom: 99px;
  }

  @include vp-767 {
    margin-top: 69px;
    margin-bottom: 70px;
  }
}

.season-ticket__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  margin-top: 52px;
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    margin-top: 41px;
    row-gap: 30px;
  }

  @include vp-767 {
    margin-top: 44px;
    row-gap: 31px;
  }
}

.season-ticket__wrap ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px 37px;
  padding: 0;
  margin: 0;
  list-style: none;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.season-ticket__inner {
  display: flex;
  color: $color-default-white;
  min-height: 462px;

  @include vp-767 {
    width: 100%;
    flex-direction: column;
  }
}

.season-ticket__unlim {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  padding: 34px 45px 45px 43px;
  background-color: $color-torch-red;

  @include vp-1199 {
    width: 100%;
    padding-left: 45px;
    padding-right: 40px;
  }

  @include vp-767 {
    width: 100%;
    align-items: center;
    padding-right: 45px;
  }
}

.season-ticket__inner h4 {
  margin: 0;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 156%;

  @include vp-767 {
    text-align: center;
  }
}

.season-ticket__inner span {
  display: block;
  margin-top: 8px;
  font-size: 4.38rem;
}

.season-ticket__item a {
  display: inline-block;
  margin-top: 56px;
  padding: 0;
  width: max-content;
  max-width: 230px;
  vertical-align: middle;
  color: $color-resolution-blue;
  border-bottom: 1px solid $color-resolution-blue;

  &:hover {
    color: $color-light-slate-grey;
    border-bottom: 1px solid $color-light-slate-grey;
  }

  @include vp-1199 {
    margin-top: 32px;
  }

  @include vp-767 {
    margin-top: 12px;
  }
}

.season-ticket__item {
  min-height: 211px;
  padding: 22px 28px 26px;
  color: $color-resolution-blue;
  border: 7px solid $color-default-white;
  border-image: $crimson-to-smalt;
  border-image-slice: 1;

  @include vp-767 {
    padding-top: 32px;
    text-align: center;
  }
}

.season-ticket__item h5 {
  margin: 0;
  font-weight: 700;
  font-size: 1.63rem;
  line-height: 120%;
}

.season-ticket__wrap p {
  margin-top: 7px;
  line-height: 138%;

  @include vp-1199 {
    min-height: 44px;
  }

  @include vp-767 {
    margin-top: 9px;
    margin-bottom: 14px;
  }
}

.season-ticket__inner img {
  background-color: $color-egyptian-blue;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;

  @include vp-1199 {
    min-width: 399px;
    height: 462px;
  }

  @include vp-767 {
    min-width: 100%;
    height: auto;
  }
}

.season-ticket__unlim a {
  display: inline-block;
  margin-top: auto;
  padding: 0;
  font-size: 0.88rem;
  line-height: 114%;
  vertical-align: middle;
  color: $color-default-white;
  border-bottom: 1px solid $color-default-white;

  &:hover {
    color: $color-spindle-grey;
    border-bottom: 1px solid $color-spindle-grey;
  }

  @include vp-1199 {
    margin-top: auto;
  }

  @include vp-767 {
    display: block;
    vertical-align: baseline;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
}

.season-ticket__unlim p {
  margin-top: 32px;
  font-size: 1.13rem;
  line-height: 140%;

  @include vp-767 {
    margin-top: 26px;
    margin-bottom: 30px;
    text-align: center;
  }
}
