.season-ticket ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row dense;
  list-style: none;
  gap: 40px;
  margin-bottom: 120px;

  @include vp-1199 {
    grid-template-rows: repeat(3, 1fr);
  }
}

.season-ticket__inner {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 45px;
  color: $color-default-white;
  background-color: $color-torch-red;

  @include vp-1199 {
    flex-grow: 1;
  }
}

.season-ticket__inner h4 {
  margin: 0;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 156%;
}

.season-ticket__inner span {
  display: block;
  font-size: 4.38rem;
}

.season-ticket__inner p {
  margin-top: 35px;
  font-size: 1.13rem;
  line-height: 140%;
}

.season-ticket__item a {
  display: inline-block;
  vertical-align: middle;
  margin-top: auto;
  color: $color-resolution-blue;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 110%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.season-ticket__inner a {
  display: inline-block;
  vertical-align: middle;
  margin-top: auto;
  width: 80px;
  color: $color-default-white;
  font-weight: 700;
  font-size: 0.88rem;
  line-height: 111%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 1px solid $color-default-white;
}

.season-ticket__item {
  min-height: 211px;
  padding: 35px;
  color: $color-resolution-blue;
  border: 7px solid $color-default-white;
  border-image: linear-gradient(166deg, #d10a42 20%, #00359f 100%);
  border-image-slice: 1;
}

.season-ticket__item h5 {
  margin: 0;
  font-weight: 700;
  font-size: 1.63rem;
  line-height: 120%;
}

.season-ticket__item p {
  line-height: 138%;
}

.season-ticket__item--unlim {
  display: flex;
  flex-direction: row;
  grid-row: span 2;
  padding: 0;
  border: none;

  @include vp-1199 {
    grid-row: span 2;
    grid-column: span 2;
  }
}

.season-ticket__item--unlim img {
  width: 280px;
  height: 462px;

  @include vp-1199 {
    width: 399px;
    height: 462px;
  }
}
