.tickets {
  position: relative;
  z-index: 0;
  padding-top: 50px;
  padding-bottom: 120px;
  margin-bottom: 120px;
  background-color: $color-ghost-white;

  @include vp-1199 {
    padding-bottom: 101px;
    margin-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 70px;
    margin-bottom: 70px;
  }
}

.tickets__box img {
  position: absolute;
  z-index: -1;
  right: 3px;
  bottom: -151px;

  @include vp-1199 {
    width: 347px;
    height: 444px;
    right: 0;
    bottom: -125px;
  }

  @include vp-767 {
    display: none;
  }
}

.tickets__inner.is-close {
  display: none;
}

.tickets__inner.is-active,
.tickets__inner.no-js {
  display: block;
}

.tickets__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tickets__wrap h3 {
  margin: 0;
  margin-top: 67px;
  font-family: $ff-bebas-neue;
  font-size: 3.07rem;
  line-height: 100%;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-top: 48px;
    font-size: 2.63rem;
  }

  @include vp-767 {
    margin-top: 19px;
    font-size: 2rem;
  }
}

.tickets__wrap ul {
  position: relative;
  display: flex;
  column-gap: 47px;
  padding: 0;
  margin: 33px 5px 0 0;
  padding-bottom: 9px;
  list-style: none;
  border-bottom: 2px solid $color-grey--20;

  @include vp-1199 {
    column-gap: 55px;
    margin-top: 27px;
    margin-right: 2px;
    padding-bottom: 8px;
  }

  @include vp-767 {
    column-gap: 45px;
    margin-top: 19px;
    padding-bottom: 9px;
  }
}

.tickets__wrap button {
  padding: 3px 0;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  text-transform: none;
  letter-spacing: normal;
  color: $color-sapphire-blue--50;
  background: $color-transparent;
  border: none;

  @include vp-1199 {
    font-size: 1.13rem;
  }

  @include vp-767 {
    padding-left: 0;
    padding-right: 0;
    font-size: 1rem;
  }

  &:hover {
    opacity: 0.7;
  }
}

.tickets__button {
  position: relative;
}

.tickets__wrap .is-active::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: $color-crimson-red;

  @include vp-767 {
    bottom: -11px;
  }
}

.tickets__button:focus {
  outline: none;
  opacity: 0.7;
}

.tickets__inner {
  display: none;
  margin-top: 37px;

  @include vp-1199 {
    margin-top: 43px;
  }

  @include vp-767 {
    margin-top: 34px;
  }
}

.tickets__inner ul {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 360px));
  gap: 40px 38px;
  padding: 0;
  margin: 0;
  list-style: none;

  @include vp-1199 {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  @include vp-767 {
    grid-template-columns: minmax(290px, 450px);
    justify-content: center;
    row-gap: 35px;
  }
}

.tickets__inner li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  min-height: 448px;
  padding-bottom: 15px;
  background-color: $color-default-white;
  border: 7px solid $color-default-white;

  &:hover {
    border-image: $crimson-to-smalt;
    border-image-slice: 1;
  }

  @include vp-1199 {
    width: 441px;
  }

  @include vp-767 {
    width: 100%;
    min-height: 384px;
  }
}

.tickets__inner h4 {
  margin: 50px 0 4px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
  font-size: 1.63rem;
  line-height: 154%;

  @include vp-1199 {
    margin: 57px 0 9px;
    line-height: 112%;
  }

  @include vp-767 {
    margin-top: 44px;
    font-size: 1.38rem;
    line-height: 110%;
  }
}

.tickets__lessons {
  margin-bottom: 66px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 150%;
  color: $color-chambray-blue;

  @include vp-767 {
    margin-bottom: 54px;
  }
}

.tickets__prices {
  z-index: 1;
  margin-left: 5px;
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 150%;
  color: $color-egyptian-blue;

  @include vp-767 {
    margin-bottom: 28px;
    margin-left: 8px;
    font-size: 3rem;
  }
}

.tickets__prices .tickets__ruble {
  color: $color-sapphire-blue;

  @include vp-767 {
    margin-right: 4px;
    font-size: 2.8rem;
  }
}

.tickets__dooble-prices {
  position: absolute;
  z-index: 0;
  top: 129px;
  font-weight: 700;
  font-size: 6.25rem;
  line-height: 150%;
  color: $color-whisper-grey;
  opacity: 0.48;

  @include vp-767 {
    top: 111px;
    font-size: 5rem;
  }
}

.tickets__inner a {
  margin-left: 15px;
  margin-right: 15px;
  padding: 24px 44px;
  color: $color-sapphire-blue;
  border: 2px solid $color-sapphire-blue;

  &:hover {
    color: $color-default-white;
    background: $torch-to-cobalt;
    border: 2px solid $color-default-white;
  }
}
