*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-style: normal;
  font-weight: 400;
  font-size: $fz-default;
  line-height: 120%;
  font-family: $ff-roboto-condensed;
  color: $color-sapphire-blue;
  scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: $color-sapphire-blue;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  margin: 0;
  text-align: center;
  font-family: $ff-bebas-neue;
  font-weight: 700;
  font-size: 3.07rem;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: $color-sapphire-blue;

  @include vp-1199 {
    font-size: 2.63rem;
  }

  @include vp-767 {
    font-size: 2rem;
  }
}

.button {
  display: block;
  padding: 24px 55px;
  color: $color-default-white;
  text-align: center;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 116%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
}

.slider-button {
  position: relative;
  border: none;
  background: $color-transparent;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.slider-button::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 14px;
  padding: 11px;
  border: solid $color-dark-grey;
  border-width: 0 1px 1px 0;
  display: inline-block;
  vertical-align: middle;
  transform: rotate(135deg);

  @include vp-767 {
    padding: 6px;
  }
}

.slider-button--next::after {
  transform: rotate(314deg);
}

.slider-button:focus {
  outline: none;
}

.slider-button:hover::after,
.slider-button:focus-within::after {
  border: solid $color-russian-black;
  border-width: 0 1px 1px 0;
}

.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.3;
}
