// Vendor
// ---------------------------------

@import "vendor/normalize";
@import "../../node_modules/swiper/swiper.scss";
// Swiper 7.4.1
// @import "vendor/swiper";

// Global
// ---------------------------------

@import "variables";
@import "mixins";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";

// Blocks
// ---------------------------------

@import "blocks/body";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/gym";
@import "blocks/description";
@import "blocks/tickets";
@import "blocks/cross-fit";
@import "blocks/coachs";
@import "blocks/advantages";
@import "blocks/season-ticket";
@import "blocks/reviews";
@import "blocks/about-us";
@import "blocks/form";
@import "blocks/contacts";
@import "blocks/footer";
@import "blocks/footer-nav";
@import "blocks/social";
