// Colors

$color-sapphire-blue:               #102654;
$color-chambray-blue:               #495a7d;
$color-egyptian-blue:               #103aae;
$color-resolution-blue:             #1c3374;
$color-persian-blue:                #2e35ac;
$color-cerulean-blue:               #14367a;
$color-ghost-white:                 #f8f9fc;
$color-spindle-grey:                #b6bdcc;
$color-dark-grey:                   #afafaf;
$color-whisper-grey:                #e8e8e8;
$color-light-slate-grey:            #74819c;
$color-russian-black:               #030a1a;
$color-torch-red:                   #ed0233;
$color-crimson-red:                 #d10a42;


$color-grey--20:                    rgba(120, 120, 120, 0.2);
$color-crimson-red--20:             rgba(209, 10, 66, 0.2);
$color-cerulean-blue--50:              rgba(20, 54, 122, 0.5);
$color-sapphire-blue--89:           rgba(16, 38, 84, 0.89);
$color-sapphire-blue--50:           rgba(16, 38, 84, 0.5);
$color-resolution-blue--20:         rgba(28, 51, 116, 0.2);

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-neon-blue:                   #2c39f2;

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13

$ff-roboto-condensed:                "Roboto Condensed", "Arial", sans-serif;

$ff-bebas-neue:                      "Bebas Neue", "Impact", sans-serif;


// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-768:                            768px;
$vp-1200:                           1200px;
$vp-1280:                           1280px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
