// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette

$color-sapphire-blue: #102654;
$color-chambray-blue: #495a7d;
$color-egyptian-blue: #103aae;
$color-resolution-blue: #1c3374;
$color-persian-blue: #2e35ac;
$color-cerulean-blue: #14367a;
$color-cerulean-dark-blue: #003d85;
$color-cobalt-blue: #0041ca;
$color-cobalt-light-blue: #0041ca;
$color-smalt-blue: #00359f;
$color-ghost-white: #f8f9fc;
$color-spindle-grey: #b6bdcc;
$color-dark-grey: #afafaf;
$color-whisper-grey: #e8e8e8;
$color-light-slate-grey: #74819c;
$color-russian-black: #030a1a;
$color-torch-red: #ed0233;
$color-crimson-red: #d10a42;
$color-venetian-red: #b80027;

$color-grey--20: rgba(120, 120, 120, 0.2);
$color-crimson-red--20: rgba(209, 10, 66, 0.2);
$color-cerulean-blue--50: rgba(20, 54, 122, 0.5);
$color-sapphire-blue--89: rgba(16, 38, 84, 0.89);
$color-sapphire-blue--50: rgba(16, 38, 84, 0.5);
$color-resolution-blue--20: rgba(28, 51, 116, 0.2);

// Gradient

$crimson-to-smalt:                  linear-gradient(166deg, $color-crimson-red 20%, $color-smalt-blue 100%);
$red-to-blue:                       linear-gradient(142.51deg, $color-crimson-red 0%, $color-cobalt-blue 87%);
$red-to-blue:                       linear-gradient(142.51deg, $color-crimson-red 0%, $color-cobalt-blue 87%);
$blue-to-right:                     linear-gradient(90deg, $color-sapphire-blue 50%, $color-default-white 50%);
$torch-to-cobalt:                   linear-gradient(97.05deg, $color-torch-red 17.6%, $color-cobalt-light-blue 95.31%);
$red-to-blue-conic:                 conic-gradient(from 130.31deg at 16.03% 39.06%, $color-venetian-red -46.69deg, $color-cerulean-dark-blue 32.24deg, $color-venetian-red 313.31deg, $color-cerulean-dark-blue 392.24deg);

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

$ff-roboto-condensed:                "Roboto Condensed", "Arial", sans-serif;

$ff-bebas-neue:                      "Bebas Neue", "Impact", sans-serif;

// Viewports
// ---------------------------------

$vp-768:                            768px;
$vp-1200:                           1200px;
$vp-1280:                           1280px;
$vp-1330:                           1330px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
